# For more options and information see
# http://www.raspberrypi.org/documentation/configuration/config-txt.md
# Some settings may impact device functionality.

# GPU memory split.
gpu_mem={{ config_gpu_mem }}

# Whether to allow full 1.2A current over USB.
max_usb_current={{ config_max_usb_current }}
